*{
	margin: 0;
	padding: 0;
	font-family: "Bodoni MT", Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
}
.main_body {
	line-height: 2em;
	font-size: 12px;
	color: #666;
	background: #ffffff;
}
.main_contaner {
	display: flex;
	max-width: 1140px;
	margin: auto;
	font-size: 20px;
	font-family: Roboto, arial, sans-serif;;
}

/* nav css */
nav{
	background-color: #1d2220;
	outline: 3px solid #9dadd1;
	border-bottom: 5px solid #8b9ed6;
}
/* navbar  */
.nav_bar ,.footer_bar{
	display: flex;
	max-width: 1140px;
	margin: auto;
	justify-content: space-between;
}
/* select logo h1 */
.logo h1{
	padding-top: 15px;
	color: #aeabab;
	font-family: "Bodoni MT", Didot, "Didot LT STD";
	font-size: 30px;
}
/* logo p tag */
.logo p{
	padding-top: 5px;
	color: #aeabab;
}
/* slect div & unorder list  */
/* nav_list */
.nav_list{
	padding: 10px;
	width: 66%;
}
.nav_list ul{
	list-style: none;
	justify-content: space-between;
	display: flex;
	/* background-color: aquamarine; */
	padding: 5px;
	/* background-color: #212624; */
	border: 2px solid #131313;
	border-radius: 50px;
}
/* select list */
.nav_list li{
	padding:5px 40px;
	width: 100%;
	/* background-color: rgb(244, 255, 127); */
	justify-content: space-between;
	border-left: 3px solid #131816;
}
/* select a tag in list */
.nav_list li a{
	color: #667789;
	font-size: 20px;
	/* padding: 5px; */
	text-align: center;
	text-decoration: none;
}
/* hero contanier */
.hero_contanier{
	display: flex;
	background-image:linear-gradient(175deg, #546591 ,#bfc8e0 0.8%,#546591 40% );
}
/* hero_boxes */
.hero_box{
	width: 1140px;
	margin: auto;
	display: flex;
	justify-content: space-between;
}
/* image div */
.image{
	padding-top: 30px;
	padding-bottom: 15px;
}
.image img{
	height: 230px;
	outline-style:inherit;
	border: 10px solid #a7a5a5;
}
/* hero text */
.hero_text{
	width: 650px;
	height: 250px;
	margin-top: 30px;
}
.hero_text h1{
	color: #fff;
	font-family: "Bodoni MT";
	font-size: 3.8em;
	line-height: 1em;
}
.hero_text p{
	margin-top: 10px;
	font-size: 2.5em;
	line-height: 1.3em;
	padding-right:30px ;
	color: #afb6bd;
}
/* button */
.btn{
	padding: 10px 20px;
	margin-top: 5px;
	border-radius: 5px;
	background-color: #6c706f;
}
/* main_contaner */
.main_contaner{
	/* width: 60%; */
	box-sizing: border-box;
	padding:30px 0;
}
/* main_element */
.main_element{
	width: 780px;
	padding-right: 30px;
}
/* .body_contant h1 */
.body_contant h1{
	padding: 10px 0;
	border-bottom: 2px solid;
}
/* body_contant span */
.body_contant span{
	border-bottom: 5px solid #556494;
	padding-bottom: 1px;
}
/* .body_contant label */
.label{
	padding: 30px 0;
}
/* lable div span */
.label span{
	text-decoration:underline;
	border: none;
}
/* main_contaner */
.main_contaner ul{
	padding: 30px;
	padding-right: 0;
}
.main_contaner li{
	padding-left: 5px;
	list-style-type: square;
}
.text_area{
	border-left: 5px solid #536592;
	padding-left: 30px;
}
/* news slide */
.news_slide{
	width: 350px;
	border: 1px solid #ccc9c9;
	line-height: 1em;
	height: 440px;
}
/* h2 Latest News */
.news_slide h2{
	background-color: #3d3d3d;
	padding: 20px;
	color: #fff;
}
/* news_box */
.news_box{
	display: flex;
	/* padding:10px 0; */
	
}
/* news_image_wrapper */
.news_image_wrapper img{
	width: 90px;
	height: 100px;
	padding: 10px;
	padding-left: 20px;
	background-color: #efefef;
}
/*  */
.news_content{
	background-color: #efefef;
	width: 270px;
	height: 120px;
	padding-left:5px ;
}
/* news_date */
.news_date{
	color: #9a9a9a;
	font-size: 15px;
}
.header_news a{
	color: #000;
	text-decoration: none;
	font-size: 18px;
	font-weight: bold;
}
.news_content p{
	color: #7b667b;
	font-size: 15px;
}

/* fooer */
footer{
	background-color: #1d2220;
	outline: 3px solid #9dadd1;
	border-top: 5px solid #8b9ed6;
}
/* a color */
.footer_bar li a{
	color: #fefefe;
}
.footer_bar .nav_list{
	width: 1140px;
}
